<?xml version="1.0" ?>
<Root_Node UI_File_Name="Menu.xml" Texture_Path="" Screen_X="1024" Screen_Y="768">
    <Style Style="65536" />
    <BaseWndProperty WindowID="1" WindowText="" WindowLeft="0" WindowTop="0" WindowHeight="937" WindowWidth="118" Visible="1" FixSize="0" Drag="0" Drop="0">
        <BackGroundMap BGmap="Slot32.dds">
            <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="10" NorUVHeight="10" />
        </BackGroundMap>
        <Container_Node Child_Cnt="72">
            <Style ParentNode="1" CtrlType="268435456" />
            <BaseWndProperty WindowID="1000" WindowText="" WindowLeft="0" WindowTop="0" WindowHeight="937" WindowWidth="118" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="15" NorUVTop="554" NorUVWidth="937" NorUVHeight="118" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <PictureNode TextureClampMode="0">
                    <ForegroundUV ForegroundUVLeft="0" ForegroundUVTop="0" ForegroundUVWidth="10" ForegroundUVHeight="10" />
                </PictureNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="262144" />
            <BaseWndProperty WindowID="5000" WindowText="" WindowLeft="532" WindowTop="80" WindowHeight="23" WindowWidth="30" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="810" NorUVTop="0" NorUVWidth="23" NorUVHeight="30" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="角色屬性" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <ButtonNode BtnState="0">
                    <FocusUV FocusUVLeft="810" FocusUVTop="36" FocusUVWidth="23" FocusUVHeight="30" />
                    <DownUV DownUVLeft="810" DownUVTop="72" DownUVWidth="23" DownUVHeight="30" />
                    <DisableUV DisableUVLeft="810" DisableUVTop="108" DisableUVWidth="23" DisableUVHeight="30" />
                </ButtonNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="262144" />
            <BaseWndProperty WindowID="5010" WindowText="" WindowLeft="558" WindowTop="80" WindowHeight="23" WindowWidth="30" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="836" NorUVTop="0" NorUVWidth="23" NorUVHeight="30" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="物品" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <ButtonNode BtnState="0">
                    <FocusUV FocusUVLeft="836" FocusUVTop="36" FocusUVWidth="23" FocusUVHeight="30" />
                    <DownUV DownUVLeft="836" DownUVTop="72" DownUVWidth="23" DownUVHeight="30" />
                    <DisableUV DisableUVLeft="836" DisableUVTop="108" DisableUVWidth="23" DisableUVHeight="30" />
                </ButtonNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="262144" />
            <BaseWndProperty WindowID="5020" WindowText="" WindowLeft="584" WindowTop="80" WindowHeight="23" WindowWidth="30" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="862" NorUVTop="0" NorUVWidth="23" NorUVHeight="30" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="法術技能" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <ButtonNode BtnState="0">
                    <FocusUV FocusUVLeft="862" FocusUVTop="36" FocusUVWidth="23" FocusUVHeight="30" />
                    <DownUV DownUVLeft="862" DownUVTop="72" DownUVWidth="23" DownUVHeight="30" />
                    <DisableUV DisableUVLeft="862" DisableUVTop="108" DisableUVWidth="23" DisableUVHeight="30" />
                </ButtonNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="262144" />
            <BaseWndProperty WindowID="5030" WindowText="" WindowLeft="610" WindowTop="80" WindowHeight="23" WindowWidth="30" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="888" NorUVTop="0" NorUVWidth="23" NorUVHeight="30" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="任務日誌" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <ButtonNode BtnState="0">
                    <FocusUV FocusUVLeft="888" FocusUVTop="36" FocusUVWidth="23" FocusUVHeight="30" />
                    <DownUV DownUVLeft="888" DownUVTop="72" DownUVWidth="23" DownUVHeight="30" />
                    <DisableUV DisableUVLeft="888" DisableUVTop="108" DisableUVWidth="23" DisableUVHeight="30" />
                </ButtonNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="262144" />
            <BaseWndProperty WindowID="5040" WindowText="" WindowLeft="636" WindowTop="80" WindowHeight="23" WindowWidth="30" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="914" NorUVTop="0" NorUVWidth="23" NorUVHeight="30" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="好友名單及公會" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <ButtonNode BtnState="0">
                    <FocusUV FocusUVLeft="914" FocusUVTop="36" FocusUVWidth="23" FocusUVHeight="30" />
                    <DownUV DownUVLeft="914" DownUVTop="72" DownUVWidth="23" DownUVHeight="30" />
                    <DisableUV DisableUVLeft="914" DisableUVTop="108" DisableUVWidth="23" DisableUVHeight="30" />
                </ButtonNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="262144" />
            <BaseWndProperty WindowID="5050" WindowText="" WindowLeft="662" WindowTop="80" WindowHeight="23" WindowWidth="30" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="940" NorUVTop="0" NorUVWidth="23" NorUVHeight="30" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="寶箱" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <ButtonNode BtnState="0">
                    <FocusUV FocusUVLeft="940" FocusUVTop="36" FocusUVWidth="23" FocusUVHeight="30" />
                    <DownUV DownUVLeft="940" DownUVTop="72" DownUVWidth="23" DownUVHeight="30" />
                    <DisableUV DisableUVLeft="940" DisableUVTop="108" DisableUVWidth="23" DisableUVHeight="30" />
                </ButtonNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="262144" />
            <BaseWndProperty WindowID="5060" WindowText="" WindowLeft="688" WindowTop="80" WindowHeight="23" WindowWidth="30" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="966" NorUVTop="0" NorUVWidth="23" NorUVHeight="30" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="系統音樂畫面" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <ButtonNode BtnState="0">
                    <FocusUV FocusUVLeft="966" FocusUVTop="36" FocusUVWidth="23" FocusUVHeight="30" />
                    <DownUV DownUVLeft="966" DownUVTop="72" DownUVWidth="23" DownUVHeight="30" />
                    <DisableUV DisableUVLeft="966" DisableUVTop="108" DisableUVWidth="23" DisableUVHeight="30" />
                </ButtonNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="131072" />
            <BaseWndProperty WindowID="5070" WindowText="" WindowLeft="512" WindowTop="97" WindowHeight="16" WindowWidth="16" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="624" NorUVTop="221" NorUVWidth="16" NorUVHeight="16" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="鎖住快捷列" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <ButtonNode BtnState="0">
                    <FocusUV FocusUVLeft="642" FocusUVTop="221" FocusUVWidth="16" FocusUVHeight="16" />
                    <DownUV DownUVLeft="660" DownUVTop="221" DownUVWidth="16" DownUVHeight="16" />
                    <DisableUV DisableUVLeft="0" DisableUVTop="0" DisableUVWidth="0" DisableUVHeight="0" />
                </ButtonNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="262144" />
            <BaseWndProperty WindowID="5080" WindowText="" WindowLeft="86" WindowTop="79" WindowHeight="13" WindowWidth="9" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="933" NorUVTop="312" NorUVWidth="13" NorUVHeight="9" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="16777215" FontStyle="0" />
                <ButtonNode BtnState="0">
                    <FocusUV FocusUVLeft="950" FocusUVTop="312" FocusUVWidth="13" FocusUVHeight="9" />
                    <DownUV DownUVLeft="967" DownUVTop="312" DownUVWidth="13" DownUVHeight="9" />
                    <DisableUV DisableUVLeft="967" DisableUVTop="312" DisableUVWidth="13" DisableUVHeight="9" />
                </ButtonNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="262144" />
            <BaseWndProperty WindowID="5090" WindowText="" WindowLeft="86" WindowTop="102" WindowHeight="13" WindowWidth="9" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="933" NorUVTop="323" NorUVWidth="13" NorUVHeight="9" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="16777215" FontStyle="0" />
                <ButtonNode BtnState="0">
                    <FocusUV FocusUVLeft="950" FocusUVTop="323" FocusUVWidth="13" FocusUVHeight="9" />
                    <DownUV DownUVLeft="967" DownUVTop="323" DownUVWidth="13" DownUVHeight="9" />
                    <DisableUV DisableUVLeft="967" DisableUVTop="323" DisableUVWidth="13" DisableUVHeight="9" />
                </ButtonNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="131072" />
            <BaseWndProperty WindowID="5100" WindowText="" WindowLeft="512" WindowTop="78" WindowHeight="16" WindowWidth="16" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="624" NorUVTop="513" NorUVWidth="16" NorUVHeight="16" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="鎖住快捷列" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <ButtonNode BtnState="0">
                    <FocusUV FocusUVLeft="642" FocusUVTop="513" FocusUVWidth="16" FocusUVHeight="16" />
                    <DownUV DownUVLeft="660" DownUVTop="533" DownUVWidth="16" DownUVHeight="16" />
                    <DisableUV DisableUVLeft="0" DisableUVTop="0" DisableUVWidth="0" DisableUVHeight="0" />
                </ButtonNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="67108864" />
            <BaseWndProperty WindowID="6000" WindowText="" WindowLeft="87" WindowTop="63" WindowHeight="626" WindowWidth="4" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="20" NorUVTop="8" NorUVWidth="626" NorUVHeight="4" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <ProgressNode Max="100" Min="0" cur="100">
                    <OffSetUV UVCnt="7">
                        <SOffset-0 x="1" y="57" />
                        <SOffset-1 x="0" y="0" />
                        <SOffset-2 x="0" y="0" />
                        <SOffset-3 x="0" y="0" />
                        <SOffset-4 x="0" y="0" />
                        <SOffset-5 x="0" y="0" />
                        <SOffset-6 x="0" y="0" />
                    </OffSetUV>
                </ProgressNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="67108864" />
            <BaseWndProperty WindowID="6001" WindowText="" WindowLeft="87" WindowTop="70" WindowHeight="626" WindowWidth="4" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="20" NorUVTop="15" NorUVWidth="626" NorUVHeight="4" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <ProgressNode Max="100" Min="0" cur="100">
                    <OffSetUV UVCnt="7">
                        <SOffset-0 x="1" y="57" />
                        <SOffset-1 x="2" y="0" />
                        <SOffset-2 x="0" y="0" />
                        <SOffset-3 x="0" y="0" />
                        <SOffset-4 x="0" y="0" />
                        <SOffset-5 x="0" y="0" />
                        <SOffset-6 x="0" y="0" />
                    </OffSetUV>
                </ProgressNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2001" WindowText="" WindowLeft="103" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2002" WindowText="" WindowLeft="137" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2003" WindowText="" WindowLeft="171" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2004" WindowText="" WindowLeft="205" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2005" WindowText="" WindowLeft="239" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2006" WindowText="" WindowLeft="273" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2007" WindowText="" WindowLeft="307" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2008" WindowText="" WindowLeft="341" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2009" WindowText="" WindowLeft="375" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2010" WindowText="" WindowLeft="409" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2011" WindowText="" WindowLeft="443" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2012" WindowText="" WindowLeft="477" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="33554432" />
            <BaseWndProperty WindowID="3000" WindowText="1" WindowLeft="85" WindowTop="89" WindowHeight="14" WindowWidth="14" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="0" NorUVHeight="0" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="8" FontColor="16777215" FontStyle="1" />
                <TextNode TextAlign="1" MultiLine="0" />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="268435456" />
            <BaseWndProperty WindowID="4000" WindowText="" WindowLeft="68" WindowTop="20" WindowHeight="798" WindowWidth="36" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="3" NorUVTop="474" NorUVWidth="798" NorUVHeight="36" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <PictureNode TextureClampMode="0">
                    <ForegroundUV ForegroundUVLeft="0" ForegroundUVTop="0" ForegroundUVWidth="10" ForegroundUVHeight="10" />
                </PictureNode>
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2013" WindowText="" WindowLeft="69" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2014" WindowText="" WindowLeft="102" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2015" WindowText="" WindowLeft="135" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2016" WindowText="" WindowLeft="168" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2017" WindowText="" WindowLeft="202" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2018" WindowText="" WindowLeft="235" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2019" WindowText="" WindowLeft="268" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2020" WindowText="" WindowLeft="301" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2021" WindowText="" WindowLeft="335" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2022" WindowText="" WindowLeft="368" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2023" WindowText="" WindowLeft="401" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2024" WindowText="" WindowLeft="434" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2025" WindowText="" WindowLeft="468" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2026" WindowText="" WindowLeft="501" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2027" WindowText="" WindowLeft="534" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2028" WindowText="" WindowLeft="567" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2029" WindowText="" WindowLeft="601" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2030" WindowText="" WindowLeft="634" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2031" WindowText="" WindowLeft="667" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2032" WindowText="" WindowLeft="700" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2033" WindowText="" WindowLeft="734" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2034" WindowText="" WindowLeft="767" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2035" WindowText="" WindowLeft="800" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4000" CtrlType="536870912" />
            <BaseWndProperty WindowID="2036" WindowText="" WindowLeft="833" WindowTop="21" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="4" Drop="8">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="268435456" />
            <BaseWndProperty WindowID="6100" WindowText="" WindowLeft="86" WindowTop="60" WindowHeight="630" WindowWidth="15" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="10" NorUVHeight="10" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <PictureNode TextureClampMode="0">
                    <ForegroundUV ForegroundUVLeft="0" ForegroundUVTop="0" ForegroundUVWidth="10" ForegroundUVHeight="10" />
                </PictureNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="268435456" />
            <BaseWndProperty WindowID="3001" WindowText="" WindowLeft="740" WindowTop="64" WindowHeight="33" WindowWidth="46" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="FXXXX.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="33" NorUVHeight="46" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <PictureNode TextureClampMode="0">
                    <ForegroundUV ForegroundUVLeft="0" ForegroundUVTop="0" ForegroundUVWidth="10" ForegroundUVHeight="10" />
                </PictureNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="268435456" />
            <BaseWndProperty WindowID="3002" WindowText="" WindowLeft="779" WindowTop="64" WindowHeight="33" WindowWidth="46" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="FXXXX.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="33" NorUVHeight="46" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <PictureNode TextureClampMode="0">
                    <ForegroundUV ForegroundUVLeft="0" ForegroundUVTop="0" ForegroundUVWidth="10" ForegroundUVHeight="10" />
                </PictureNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="268435456" />
            <BaseWndProperty WindowID="3003" WindowText="" WindowLeft="818" WindowTop="64" WindowHeight="33" WindowWidth="46" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="FXXXX.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="33" NorUVHeight="46" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <PictureNode TextureClampMode="0">
                    <ForegroundUV ForegroundUVLeft="0" ForegroundUVTop="0" ForegroundUVWidth="10" ForegroundUVHeight="10" />
                </PictureNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="268435456" />
            <BaseWndProperty WindowID="4001" WindowText="" WindowLeft="734" WindowTop="62" WindowHeight="40" WindowWidth="49" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="686" NorUVTop="199" NorUVWidth="40" NorUVHeight="49" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <PictureNode TextureClampMode="0">
                    <ForegroundUV ForegroundUVLeft="0" ForegroundUVTop="0" ForegroundUVWidth="10" ForegroundUVHeight="10" />
                </PictureNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="268435456" />
            <BaseWndProperty WindowID="4002" WindowText="" WindowLeft="774" WindowTop="62" WindowHeight="40" WindowWidth="49" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="686" NorUVTop="199" NorUVWidth="40" NorUVHeight="49" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <PictureNode TextureClampMode="0">
                    <ForegroundUV ForegroundUVLeft="0" ForegroundUVTop="0" ForegroundUVWidth="10" ForegroundUVHeight="10" />
                </PictureNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="268435456" />
            <BaseWndProperty WindowID="4003" WindowText="" WindowLeft="814" WindowTop="62" WindowHeight="40" WindowWidth="49" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="686" NorUVTop="199" NorUVWidth="40" NorUVHeight="49" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <PictureNode TextureClampMode="0">
                    <ForegroundUV ForegroundUVLeft="0" ForegroundUVTop="0" ForegroundUVWidth="10" ForegroundUVHeight="10" />
                </PictureNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="268435456" />
            <BaseWndProperty WindowID="4011" WindowText="" WindowLeft="735" WindowTop="50" WindowHeight="38" WindowWidth="38" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="14" NorUVTop="14" NorUVWidth="37" NorUVHeight="37" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <PictureNode TextureClampMode="0">
                    <ForegroundUV ForegroundUVLeft="0" ForegroundUVTop="0" ForegroundUVWidth="10" ForegroundUVHeight="10" />
                </PictureNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="268435456" />
            <BaseWndProperty WindowID="4012" WindowText="" WindowLeft="776" WindowTop="50" WindowHeight="38" WindowWidth="38" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="14" NorUVTop="14" NorUVWidth="37" NorUVHeight="37" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <PictureNode TextureClampMode="0">
                    <ForegroundUV ForegroundUVLeft="0" ForegroundUVTop="0" ForegroundUVWidth="10" ForegroundUVHeight="10" />
                </PictureNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="268435456" />
            <BaseWndProperty WindowID="4013" WindowText="" WindowLeft="815" WindowTop="50" WindowHeight="38" WindowWidth="38" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="14" NorUVTop="14" NorUVWidth="37" NorUVHeight="37" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <PictureNode TextureClampMode="0">
                    <ForegroundUV ForegroundUVLeft="0" ForegroundUVTop="0" ForegroundUVWidth="10" ForegroundUVHeight="10" />
                </PictureNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="268435456" />
            <BaseWndProperty WindowID="4100" WindowText="" WindowLeft="102" WindowTop="77" WindowHeight="409" WindowWidth="37" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="35" NorUVTop="22" NorUVWidth="409" NorUVHeight="37" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <PictureNode TextureClampMode="0">
                    <ForegroundUV ForegroundUVLeft="0" ForegroundUVTop="0" ForegroundUVWidth="10" ForegroundUVHeight="10" />
                </PictureNode>
            </BaseWndProperty>
            <Style ParentNode="4100" CtrlType="536870912" />
            <BaseWndProperty WindowID="2101" WindowText="" WindowLeft="103" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4100" CtrlType="536870912" />
            <BaseWndProperty WindowID="2102" WindowText="" WindowLeft="137" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4100" CtrlType="536870912" />
            <BaseWndProperty WindowID="2103" WindowText="" WindowLeft="171" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4100" CtrlType="536870912" />
            <BaseWndProperty WindowID="2104" WindowText="" WindowLeft="205" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4100" CtrlType="536870912" />
            <BaseWndProperty WindowID="2105" WindowText="" WindowLeft="239" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="4100" CtrlType="536870912" />
            <BaseWndProperty WindowID="2106" WindowText="" WindowLeft="273" WindowTop="79" WindowHeight="32" WindowWidth="32" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="32" NorUVHeight="32" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="0" FontStyle="0" />
                <SlotNode />
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="262144" />
            <BaseWndProperty WindowID="5081" WindowText="" WindowLeft="720" WindowTop="72" WindowHeight="13" WindowWidth="9" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="933" NorUVTop="312" NorUVWidth="13" NorUVHeight="9" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="16777215" FontStyle="0" />
                <ButtonNode BtnState="0">
                    <FocusUV FocusUVLeft="950" FocusUVTop="312" FocusUVWidth="13" FocusUVHeight="9" />
                    <DownUV DownUVLeft="967" DownUVTop="312" DownUVWidth="13" DownUVHeight="9" />
                    <DisableUV DisableUVLeft="967" DisableUVTop="312" DisableUVWidth="13" DisableUVHeight="9" />
                </ButtonNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="262144" />
            <BaseWndProperty WindowID="5091" WindowText="" WindowLeft="720" WindowTop="95" WindowHeight="13" WindowWidth="9" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="main.dds">
                    <NorUV NorUVLeft="933" NorUVTop="323" NorUVWidth="13" NorUVHeight="9" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="10" FontColor="16777215" FontStyle="0" />
                <ButtonNode BtnState="0">
                    <FocusUV FocusUVLeft="950" FocusUVTop="323" FocusUVWidth="13" FocusUVHeight="9" />
                    <DownUV DownUVLeft="967" DownUVTop="323" DownUVWidth="13" DownUVHeight="9" />
                    <DisableUV DisableUVLeft="967" DisableUVTop="323" DisableUVWidth="13" DisableUVHeight="9" />
                </ButtonNode>
            </BaseWndProperty>
            <Style ParentNode="1000" CtrlType="33554432" />
            <BaseWndProperty WindowID="3004" WindowText="1" WindowLeft="719" WindowTop="82" WindowHeight="14" WindowWidth="14" Visible="1" FixSize="0" Drag="0" Drop="0">
                <BackGroundMap BGmap="Slot32.dds">
                    <NorUV NorUVLeft="0" NorUVTop="0" NorUVWidth="0" NorUVHeight="0" />
                </BackGroundMap>
                <BaseCtrlProperty Tips="" FontFace="細明體" FontSize="8" FontColor="16777215" FontStyle="1" />
                <TextNode TextAlign="1" MultiLine="0" />
            </BaseWndProperty>
        </Container_Node>
    </BaseWndProperty>
</Root_Node>
